

   
        <div class="world-news">
            <div class="main-title-head">
                <h3><b>GÜNDEM</b></h3>
                <a href="singlepage.html">More  +</a>
                <div class="clearfix"></div>
            </div>
            <div class="world-news-grids">
                <div class="world-news-grid">
                    <img src="~/Content/web/images/n1.jpg" alt="" />
                    <a href="singlepage.html" class="title">Lorem ipsum dolor sit amet, consectetur </a>
                    <p>Nulla quis lorem neque, mattis venenatis lectus. In interdum ullamcorper dolor eu mattis.</p>
                    <a href="singlepage.html">Read More</a>
                </div>
                <div class="world-news-grid">
                    <img src="~/Content/web/images/n2.jpg" alt="" />
                    <a href="singlepage.html" class="title">Lorem ipsum dolor sit amet, consectetur </a>
                    <p>Nulla quis lorem neque, mattis venenatis lectus. In interdum ullamcorper dolor eu mattis.</p>
                    <a href="singlepage.html">Read More</a>
                </div>
                <div class="world-news-grid">
                    <img src="~/Content/web/images/n3.jpg" alt="" />
                    <a href="singlepage.html" class="title">Lorem ipsum dolor sit amet, consectetur </a>
                    <p>Nulla quis lorem neque, mattis venenatis lectus. In interdum ullamcorper dolor eu mattis.</p>
                    <a href="singlepage.html">Read More</a>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
        <div class="latest-articles">
            <div class="main-title-head">
                <h3><b>En son makaleler</b></h3>
                <a href="singlepage.html">More  +</a>
                <div class="clearfix"></div>
            </div>
            <div class="world-news-grids">
                <div class="world-news-grid">
                    <img src="~/Content/web/images/a1.jpg" alt="" />
                    <a href="singlepage.html" class="title">Lorem ipsum dolor sit amet, consectetur </a>
                    <p>Nulla quis lorem neque, mattis venenatis lectus. In interdum ullamcorper dolor eu mattis.</p>
                    <a href="singlepage.html">Read More</a>
                </div>
                <div class="world-news-grid">
                    <img src="~/Content/web/images/a2.jpg" alt="" />
                    <a href="singlepage.html" class="title">Lorem ipsum dolor sit amet, consectetur </a>
                    <p>Nulla quis lorem neque, mattis venenatis lectus. In interdum ullamcorper dolor eu mattis.</p>
                    <a href="singlepage.html">Read More</a>
                </div>
                <div class="world-news-grid">
                    <img src="~/Content/web/images/a3.jpg" alt="" />
                    <a href="singlepage.html" class="title">Lorem ipsum dolor sit amet, consectetur </a>
                    <p>Nulla quis lorem neque, mattis venenatis lectus. In interdum ullamcorper dolor eu mattis.</p>
                    <a href="singlepage.html">Read More</a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        @* Resim galeri*@
   
