<div class="popular">
    <div class="main-title-head">
        <h5>popüler</h5>
        <h4>Çok    okunan</h4>
        <div class="clearfix"></div>
    </div>
    <div class="popular-news">
        <div class="popular-grid">
            <i>Sept 24th 2011 </i>
            <p>Lorem ipsum dolor sit amet conse ctetur adipiscing elit  <a href="singlepage.html">Read More</a></p>
        </div>
        <div class="popular-grid">
            <i>Sept 24th 2011 </i>
            <p>Lorem ipsum dolor sit amet conse ctetur adipiscing elit  <a href="singlepage.html">Read More</a></p>
        </div>
        <div class="popular-grid">
            <i>Sept 24th 2011 </i>
            <p>Lorem ipsum dolor sit amet conse ctetur adipiscing elit  <a href="singlepage.html">Read More</a></p>
        </div>
        <div class="popular-grid">
            <i>Sept 24th 2011 </i>
            <p>Lorem ipsum dolor sit amet conse ctetur adipiscing elit  <a href="singlepage.html">Read More</a></p>
        </div>
        <div class="popular-grid">
            <i>Sept 24th 2011 </i>
            <p>Lorem ipsum dolor sit amet conse ctetur adipiscing elit  <a href="singlepage.html">Read More</a></p>
        </div>
        <a class="more" href="singlepage.html">More  +</a>
    </div>
</div>
