
@model IEnumerable<MKHaberSistemi.Core.Domain.Entities.Galeri>
<div class="gallery">
    <div class="main-title-head">
        <h3><b>GALERİ</b></h3>
        <a href="#">More  +</a>
        <div class="clearfix"></div>
    </div>
    <div class="gallery-images">
        <div class="course_demo1">
            <ul id="flexiselDemo">
                @foreach (var item in Model)
                {
                    <li>
                        <a href="@Url.Action("GaleriDetail","Galeri",new { galeriId=item.ID, galeriAdi=item.Ad})"><img src="~/@item.ProfilResimUrl" alt="@item.SeoAd" style="width:200px;height:180px" /></a>
                    </li>
                }
                </ul>
        </div>

        <script type="text/javascript">
                            $(window).load(function () {
                                $("#flexiselDemo").flexisel({
                                    visibleItems: 3,
                                    animationSpeed: 1000,
                                    autoPlay: true,
                                    autoPlaySpeed: 3000,
                                    pauseOnHover: true,
                                    enableResponsiveBreakpoints: true,
                                    responsiveBreakpoints: {
                                        portrait: {
                                            changePoint: 480,
                                            visibleItems: 2
                                        },
                                        landscape: {
                                            changePoint: 640,
                                            visibleItems: 2
                                        },
                                        tablet: {
                                            changePoint: 768,
                                            visibleItems: 3
                                        }
                                    }
                                });

                            });
        </script>
        <script type="text/javascript" src="~/Scripts/js/jquery.flexisel.js"></script>
    </div>
</div>