
@{
    ViewBag.Title = "DenemeView";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>DenemeView</h2>

@*<script src="~/Scripts/AdminControllerScripts/Haber.js"></script>*@
<script src="~/Scripts/AdminControllerScripts/Deneme.js"></script>
<input type="button" value="Kaydet" onclick="Create()" />