<div class="footer text-center">
    <div class="bottom-menu">
        <ul>
            <li><a href="index.html">Gündem</a></li> |
            <li><a href="sports.html">Dünya</a></li> |
            <li><a href="tech.html">Ekonomi</a></li> |
            <li><a href="business.html">Siyaset</a></li> |
            <li><a href="movies.html">Spor</a></li> |
            <li><a href="movies.html">Eğitim</a></li> |
            <li><a href="books.html">Teknoloji</a></li> |
            <li><a href="movies.html">Kültür</a></li> |
            <li><a href="classifieds.html">Sağlık</a></li> |
            <li><a href="blog.html">Magazin</a></li>
        </ul>
    </div>
    <div class="text-center">
       
    </div>
</div>
